

<form method="post" class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" name="nombre" placeholder="nombre departamento"/>
    </div>
    <div class="col-md-4">
        <input type="type" name="localidad" class="form-control" placeholder="localidad"/>
    </div>
    <div class="col-md-4">
        <button class="btn btn-outline-primary">
            guardar
        </button>
    </div>
</form>